extends layout.jade

block contents
  .container
    .row
      .col-xs-12.col-sm-9.col-md-3
        .panel.panel-heading
          h1 Player Info
        .panel.panel-body
          .row#player-avatar
            .col-xs-6
              img.img-responsive(src="#{ user.avatar.path }")  
            .col-xs-6
              h2= user.name
          br
          ul#player-info
            li
              span Score
              span.pull-right= user.score
            li
              span Level
              span.pull-right= user.level
            li
              span Found spots
              span.pull-right= user.diffs
            li
              span Wins
              span.pull-right= user.wins
            li
              span Looses
              span.pull-right= user.looses
            li
              span Total Plays
              span.pull-right= user.games
            li
              span World Ranking
              span.pull-right= user.ranking
          br
          button#play.btn.btn-lg.btn-success(onclick="play()") Play