extends layout.jade

block contents
  .container
    .row
      .col-xs-12.col-sm-sm.col-md-6
        .well.well-sm
          .row
            .col-sm-6.col-md-4
              img.img-rouded.img-responsive(src="#{ user.avatar.path }" alt="")
            .col-sm-6.col-md-8
              h4= user.name
              small
                cite(title="#{ user.location }")= user.location
                  i.glyphicon.glyphicon-map-maker
              ul.user-info
                li
                  p= user.email
                  i.glyphicon.glyphicon-envelope
                li
                  p= user.website
                  i.glyphicon.glyphicon-globe
                li
                  p= user.birthday
                  i.glyphicon.glyphicon-gift
              ul.social-networks
                li.facebook-icon
                  a(href="#{ user.social.facebook }" title="facebook")
                    i.fa.fa-facebook
                li.twitter-icon
                  a(href="#{ user.social.twitter }" title="twitter")
                    i.fa.fa-twitter
                li.google-icon
                  a(href="#{ user.social.google }" title="google")
                    i.fa.fa-google
                li.github-icon
                  a(href="#{ user.social.github }" title="github")
                    i.fa.fa-github